USE master;
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'PavilionsBase')
    DROP DATABASE PavilionsBase;
GO
CREATE DATABASE PavilionsBase
ON   
( NAME = 'PavilionsBase_data',  
    FILENAME = 'C:\\VS Projects\\EducationalPracticeProjectPavilions3Course\\Resources\\Scripts\\PavilionsBasedata.mdf',  
    SIZE = 8,  
    MAXSIZE = 100,  
    FILEGROWTH = 10 )  
LOG ON  
( NAME = 'PavilionsBase_log',  
    FILENAME = 'C:\\VS Projects\\EducationalPracticeProjectPavilions3Course\\Resources\\Scripts\\PavilionsBaselog.ldf',  
    SIZE = 5MB,  
    MAXSIZE = 25MB,  
    FILEGROWTH = 5MB );  
GO  

USE PavilionsBase;
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'Cities')
	DROP TABLE Cities
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'Employees')
	DROP TABLE Employees
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'Pavilions')
	DROP TABLE Pavilions
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'Rent')
	DROP TABLE Rent
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'Roles')
	DROP TABLE Roles
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'ShoppingMalls')
	DROP TABLE ShoppingMalls
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'StatePavilions')
	DROP TABLE StatePavilions
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'StatusEmployee')
	DROP TABLE StatusEmployee
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'StatusPavilions')
	DROP TABLE StatusPavilions
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'StatusRent')
	DROP TABLE StatusRent
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'StatusShoppingMalls')
	DROP TABLE StatusShoppingMalls
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'Tenants')
	DROP TABLE Tenants
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'ImagesShoppingMalls')
	DROP TABLE ImagesShoppingMalls
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE NAME = 'PhotoEmployee')
	DROP TABLE PhotoEmployee
CREATE TABLE Roles
(
	IdRole INT IDENTITY PRIMARY KEY,
    NameRole nvarchar(100)
);
INSERT INTO Roles(NameRole)
VALUES
('Администратор'),
('Менеджер А'),
('Менеджер С');
CREATE TABLE PhotoEmployee
(
    IdPhoto INT IDENTITY PRIMARY KEY, 
	Photo varbinary(MAX)
);
INSERT INTO PhotoEmployee (Photo)
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image Сотрудники\Беломестина Василиса Тимофеевна.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image Сотрудники\Веточкина Всеслава Андрияновна.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image Сотрудники\Зарубин Мирон Мечиславович.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image Сотрудники\Ломовцев Адам Владимирович.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image Сотрудники\Панькива Галина Якововна.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image Сотрудники\Рюриков Юлий Глебович.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image Сотрудники\Рябова Виктория Елизаровна.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image Сотрудники\Тепляков Кир Федосиевич.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image Сотрудники\Федотов Леон Фёдорович.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image Сотрудники\Филенкова Владлена Олеговна.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image Сотрудники\Чашин Елизар Михеевич.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image Сотрудники\Шарапов Феофан Кириллович.jpg', SINGLE_BLOB) AS ImageData
CREATE TABLE StatusEmployee
(
	IdStatusEmployee INT IDENTITY PRIMARY KEY,
    StatusName nvarchar(8)
);
INSERT INTO StatusEmployee (StatusName)
VALUES
('Работает'),
('Удалён');
CREATE TABLE Employees
(
    IdEmployee INT IDENTITY PRIMARY KEY,
	Surname nvarchar(100),
	NameEmployee nvarchar(100),
	Patronimic nvarchar(100),
	LoginEmployee nvarchar(100),
	PasswordEmployee nvarchar(100),
	IdStatusEmployee int,
	IdRole int,
	PhoneNumber nvarchar(100),
	Gender nvarchar(1),
	IdPhoto int,
	FOREIGN KEY (IdRole) REFERENCES Roles (IdRole) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY (IdPhoto) REFERENCES PhotoEmployee (IdPhoto) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY (IdStatusEmployee) REFERENCES StatusEmployee (IdStatusEmployee) ON DELETE CASCADE ON UPDATE CASCADE,
);

CREATE TABLE StatusShoppingMalls
(
    IdStatusShoppingMalls INT IDENTITY PRIMARY KEY, 
	StatusTicketName nvarchar(13)
);
INSERT INTO StatusShoppingMalls (StatusTicketName)
VALUES 
('План'),
('Строительство'),
('Реализация'),
('Удалён');
CREATE TABLE ImagesShoppingMalls
(
    IdImageShoppingMall INT IDENTITY PRIMARY KEY, 
	ImageName varbinary(MAX)
);
INSERT INTO ImagesShoppingMalls (ImageName)
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Авиапарк.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Армада.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Атриум.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\АфиМолл Сити.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Ашан Сити Капитолий.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Бутово Молл.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Вегас Кунцево.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Вегас.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Весна.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Времена года.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Гагаринский.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Город Лефортово.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Гранд.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Гудзон.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\ГУМ.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\ЕвроПарк.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Европейский.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Золотой Вавилон Ростокино.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Калейдоскоп.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Красный Кит.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Кунцево Плаза.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Лужайка.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Мега Белая Дача.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Мега Химки.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Мегаполис.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Метрополис.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Мозаика.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Москва.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Наш Гипермаркет.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Новинский пассаж.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Новомосковский.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Облака.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Океания.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Отрада.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Принц Плаза.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Райкин Плаза.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Реутов Парк.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Ривьера.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Рига Молл.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Рио.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Твой дом.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Три Кита.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Фестиваль.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Филион.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Ханой-Москва.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Хорошо.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Черемушки.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Шереметьевский.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Шоколад.jpg', SINGLE_BLOB) AS ImageData
UNION ALL
SELECT BulkColumn
FROM OPENROWSET(BULK 'C:\VS Projects\EducationalPracticeProjectPavilions3Course\Resources\Images\Image ТЦ\Щука.jpg', SINGLE_BLOB) AS ImageData;
CREATE TABLE Cities
(
	IdCity INT IDENTITY PRIMARY KEY,
    NameCity nvarchar(100)
);
INSERT INTO Cities (NameCity)
VALUES
('Москва'),
('Санкт-Петербург'),
('Новосибирск'),
('Екатеринбург'),
('Нижний Новгород'),
('Казань'),
('Челябинск'),
('Самара'),
('Ростов-на-Дону');
CREATE TABLE ShoppingMalls
(
	IdShoppingMall int IDENTITY PRIMARY KEY,
    NameShoppingMalls nvarchar(100),
	IdStatusShoppingMalls int,
	IdCity int,
	Price DOUBLE PRECISION,
	ValueAddedFactor DOUBLE PRECISION,
	NumberOfStoreys int,
	IdImageShoppingMall int,
	FOREIGN KEY (IdStatusShoppingMalls) REFERENCES StatusShoppingMalls (IdStatusShoppingMalls) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY (IdImageShoppingMall) REFERENCES ImagesShoppingMalls (IdImageShoppingMall) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY (IdCity) REFERENCES Cities (IdCity) ON DELETE CASCADE ON UPDATE CASCADE,
	
);
CREATE TABLE StatusPavilions
(
    IdStatusPavilion INT IDENTITY PRIMARY KEY,
    StatusName nvarchar(13)
);
INSERT INTO StatusPavilions (StatusName)
VALUES
('Арендован'),
('Забронировано'),
('Свободен'),
('Удален');
CREATE TABLE Tenants
(
    IdTenant INT IDENTITY PRIMARY KEY, 
	CompanyName nvarchar(100),
	PhoneNumber nvarchar(15),
	Adress nvarchar(100)
);
INSERT INTO Tenants (CompanyName, PhoneNumber, Adress)
VALUES 
('AG Marine', '8-495-526-14-53', 'Москва, Бабаевская улица д.16'),
('Art-elle', '8-495-250-58-94', 'Санкт-Петербург, Амбарная улица д.25 корп.1'),
('Atlantis', '8-495-424-11-65', 'Новосибирск, Улица Каменская д.16'),
('Corporate Travel', '8-495-245-39-05', 'Екатеринбург, Улица Антона Валека д.56'),
('GallaDance', '8-495-316-77-94', 'Нижний Новгород, Улица Ларина д.34');
CREATE TABLE StatusRent
(
	IdStatusRent INT IDENTITY PRIMARY KEY,
    StatusRentName nvarchar(8)	
);
INSERT INTO StatusRent (StatusRentName)
VALUES 
('Открыт'),
('Ожидание'),
('Закрыт');
CREATE TABLE Rent
(
	IdRent INT IDENTITY PRIMARY KEY,
    IdTenant int,
	IdPavilion int,
	IdStatusRent int,
	StartOfLease date,
	EndOfLease date,
	FOREIGN KEY (IdTenant) REFERENCES Tenants (IdTenant) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY (IdStatusRent) REFERENCES StatusRent (IdStatusRent) ON DELETE CASCADE ON UPDATE CASCADE,
);
CREATE TABLE Pavilions
(
	IdPavilion INT IDENTITY PRIMARY KEY,
    IdShoppingMall int,
	NamePavilions nvarchar(100),
	FloorPavilion int,
	IdStatusPavilion int,
	SquarePavilions DOUBLE PRECISION,
	CostPerMeter DOUBLE PRECISION,
	ValueAddedFactor DOUBLE PRECISION,
	IdRent INT,
	FOREIGN KEY (IdShoppingMall) REFERENCES ShoppingMalls (IdShoppingMall) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY (IdStatusPavilion) REFERENCES StatusPavilions (IdStatusPavilion) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY (IdRent) REFERENCES Rent (IdRent) ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE StatePavilions
(
	IdPavilion int PRIMARY KEY,
    IdEmployee int NULL,
	FOREIGN KEY (IdPavilion) REFERENCES Pavilions (IdPavilion) ON DELETE CASCADE ON UPDATE CASCADE,
	FOREIGN KEY (IdEmployee) REFERENCES Employees (IdEmployee) ON DELETE CASCADE ON UPDATE CASCADE,
	
);
INSERT INTO StatePavilions (IdPavilion, IdEmployee)
VALUES
(1, 2),(2, 7),(3, NULL),(4, 11),(5, 2),(6, 7),(7, 11),(8, 2),(9, 11),(10, 2),(11, 7),(12, 2),(13, 2),(14, 11),(15, 7),(16, 7),(17, 11),(18, 2),
(19, NULL),(20, NULL),(21, NULL),(22, 7),(23, 2),(24, 11),(25, 2),(26, NULL),(27, 11),(28, NULL),(29, 7),(30, NULL),(31, 11),(32, 7),
(33, 11),(34, 2),(35, NULL),(36, 2),(37, 2),(38, 11),(39, NULL),(40, 7),(41, 11),(42, 11),(43, 2),(44, 7),(45, 2),(46, 2),(47, 11),(48, NULL),
(49, 11),(50,7);